In [14]:
import pandas as pd
import numpy as np
from surprise import SVD
from surprise.model_selection import cross_validate, train_test_split
from surprise import Dataset
from surprise import Reader
from surprise.prediction_algorithms.knns import KNNWithZScore, KNNBaseline
from surprise.prediction_algorithms.matrix_factorization import NMF
from pandas.io.json import json_normalize
from pymongo import MongoClient

In [3]:
client = MongoClient()
client = MongoClient('localhost', 27017)
db = client.MovieRecommender
ratings = db.ratings
movie_info = db.movies_metadata

In [9]:
data = list(ratings.aggregate([{'$sample': 50}]))

OperationFailure: the $sample stage specification must be an object

In [7]:
ratings_df = json_normalize(data)

                         _id  _omdb_id  rating   timestamp  userId
0   5c83f32cfc0c4b2eee12bea2       110     1.0  1425941529       1
1   5c83f32cfc0c4b2eee12bea3       147     4.5  1425942435       1
2   5c83f32cfc0c4b2eee12bea4       858     5.0  1425941523       1
3   5c83f32cfc0c4b2eee12bea5      1221     5.0  1425941546       1
4   5c83f32cfc0c4b2eee12bea6      1246     5.0  1425941556       1
5   5c83f32cfc0c4b2eee12bea7      1968     4.0  1425942148       1
6   5c83f32cfc0c4b2eee12bea8      2762     4.5  1425941300       1
7   5c83f32cfc0c4b2eee12bea9      2918     5.0  1425941593       1
8   5c83f32cfc0c4b2eee12beaa      2959     4.0  1425941601       1
9   5c83f32cfc0c4b2eee12beab      4226     4.0  1425942228       1
10  5c83f32cfc0c4b2eee12beac      4878     5.0  1425941434       1
11  5c83f32cfc0c4b2eee12bead      5577     5.0  1425941397       1
12  5c83f32cfc0c4b2eee12beae     33794     4.0  1425942005       1
13  5c83f32cfc0c4b2eee12beaf     54503     3.5  1425941313       1
14  5c83f32cfc0c4b2eee12beb0     58559     4.0  1425942007       1
15  5c83f32cfc0c4b2eee12beb1     59315     5.0  1425941502       1
16  5c83f32cfc0c4b2eee12beb2     68358     5.0  1425941464       1
17  5c83f32cfc0c4b2eee12beb3     69844     5.0  1425942139       1
18  5c83f32cfc0c4b2eee12beb4     73017     5.0  1425942699       1
19  5c83f32cfc0c4b2eee12beb5     81834     5.0  1425942133       1
20  5c83f32cfc0c4b2eee12beb6     91500     2.5  1425942647       1
21  5c83f32cfc0c4b2eee12beb7     91542     5.0  1425942618       1
22  5c83f32cfc0c4b2eee12beb8     92439     5.0  1425941424       1
23  5c83f32cfc0c4b2eee12beb9     96821     5.0  1425941382       1
24  5c83f32cfc0c4b2eee12beba     98809     0.5  1425942640       1
25  5c83f32cfc0c4b2eee12bebb     99114     4.0  1425941667       1
26  5c83f32cfc0c4b2eee12bebc    112552     5.0  1425941336       1
27  5c83f32cfc0c4b2eee12bebd         5     3.0   867039249       2
28  5c83f32cfc0c4b2eee12bebe        25     3.0   867039168       2
29  5c83f32cfc0c4b2eee12bebf        32     2.0   867039166       2
30  5c83f32cfc0c4b2eee12bec0        58     3.0   867039325       2
31  5c83f32cfc0c4b2eee12bec1        64     4.0   867039612       2
32  5c83f32cfc0c4b2eee12bec2        79     4.0   867039325       2
33  5c83f32cfc0c4b2eee12bec3       141     3.0   867039168       2
34  5c83f32cfc0c4b2eee12bec4       260     4.0   867039249       2
35  5c83f32cfc0c4b2eee12bec5       339     5.0   867041296       2
36  5c83f32cfc0c4b2eee12bec6       377     4.0   867041121       2
37  5c83f32cfc0c4b2eee12bec7       605     4.0   867039973       2
38  5c83f32cfc0c4b2eee12bec8       628     4.0   867039325       2
39  5c83f32cfc0c4b2eee12bec9       648     4.0   867039167       2
40  5c83f32cfc0c4b2eee12beca       762     3.0   867039325       2
41  5c83f32cfc0c4b2eee12becb       780     3.0   867039165       2
42  5c83f32cfc0c4b2eee12becc       786     1.0   867039249       2
43  5c83f32cfc0c4b2eee12becd       788     1.0   867039288       2
44  5c83f32cfc0c4b2eee12bece      1210     4.0   867039325       2
45  5c83f32cfc0c4b2eee12becf      1233     4.0   867039820       2
46  5c83f32cfc0c4b2eee12bed0      1356     5.0   867039288       2
47  5c83f32cfc0c4b2eee12bed1      1475     3.0   867040824       2
48  5c83f32cfc0c4b2eee12bed2      1552     2.0   867040735       2
49  5c83f32cfc0c4b2eee12bed3       480     3.0  1048076925       3

# CSVs

In [38]:
def convert_ids(ids_in_csv):
    return pd.to_numeric(ids_in_csv, errors='coerce').astype('int64')#.fillna(-1).astype('int64')

In [234]:
ratings_df = pd.read_csv('../data/the-movies-dataset/ratings_small.csv')
movies_df = pd.read_csv('../data/the-movies-dataset/movies_metadata.csv'
                        , converters={'id': lambda x: convert_ids(x), 'imdb_id': lambda x: convert_ids(x)}
                       ,usecols=['id', 'original_title', 'belongs_to_collection'
                                 , 'budget', 'genres', 'homepage'
                                 ,'imdb_id', 'overview', 'popularity', 'poster_path'
                                 , 'production_companies','release_date', 'revenue', 'runtime',
                                 'spoken_languages', 'status', 'tagline', 'title', 'video',
                                 'vote_average', 'vote_count'])

###May need Fuzz matching, but for now:
movies_df = movies_df[movies_df.spoken_languages == """[{'iso_639_1': 'en', 'name': 'English'}]"""]


ratings_with_movie_names = ratings_df.merge(movies_df[['id', 'original_title']], how='left', left_on='movieId', right_on='id')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
#All Ratings matched with movies
movies_df.merge(ratings_df, how='right', left_on='id', right_on='movieId')

#All Movies regardless if they were rated

In [69]:
movies_df.merge(ratings_df, how='left', left_on='id', right_on='movieId')

,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_title,overview,popularity,poster_path,...,status,tagline,title,video,vote_average,vote_count,userId,movieId,rating,timestamp
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,Released,NaN,Toy Story,False,7.7,5415.0,NaN,NaN,NaN,NaN
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN,NaN,NaN
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,NaN,NaN,NaN,NaN
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,NaN,NaN,NaN
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,NaN,NaN,NaN,NaN
5,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,23.0,949.0,3.5,1.148721e+09
6,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,102.0,949.0,4.0,9.565989e+08
7,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,232.0,949.0,2.0,9.550927e+08
8,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,242.0,949.0,5.0,9.566888e+08
9,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,263.0,949.0,3.0,1.117847e+09
10,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,311.0,949.0,3.0,8.980083e+08
11,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,363.0,949.0,4.0,9.423455e+08
12,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,387.0,949.0,5.0,9.746705e+08
13,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,452.0,949.0,4.5,1.133736e+09
14,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,505.0,949.0,3.5,1.340405e+09
15,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,509.0,949.0,2.0,9.789370e+08
16,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,537.0,949.0,3.0,8.795031e+08
17,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,547.0,949.0,4.0,9.747774e+08
18,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,558.0,949.0,4.0,9.654857e+08
19,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,564.0,949.0,3.0,9.748412e+08
20,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,647.0,949.0,4.0,9.472923e+08
21,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,Sabrina,An ugly duckling having undergone a remarkable...,6.67728,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,...,Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,NaN,NaN,NaN,NaN
22,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",2.56116,/sGO5Qa55p7wTu7FJcX4H4xIVKvS.jpg,...,Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,NaN,NaN,NaN,NaN
23,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,Sudden Death,International action superstar Jean Claude Van...,5.23158,/eoWvKD60lT95Ss1MYNgVExpo5iU.jpg,...,Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0,NaN,NaN,NaN,NaN
24,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,GoldenEye,James Bond must unmask the mysterious head of ...,14.686,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,...,Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,358.0,710.0,1.0,9.577954e+08
25,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,GoldenEye,James Bond must unmask the mysterious head of ...,14.686,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,...,Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,390.0,710.0,2.0,8.670742e+08
26,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,The American President,"Widowed U.S. president Andrew Shepherd, one of...",6.31844,/lymPNGLZgPHuqM29rKMGV46ANij.jpg,...,Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0,NaN,NaN,NaN,NaN
27,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,5.43033,/xve4cgfYItnOhtzLYoTwTVy5FGr.jpg,...,Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0,NaN,NaN,NaN,NaN
28,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,Balto,An outcast half-wolf risks his life to prevent...,12.1407,/gV5PCAVCPNxlOLFM1bKk50EqLXO.jpg,...,Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0,NaN,NaN,NaN,NaN
29,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,Nixon,An all-star cast powers this epic look at Amer...,5.092,/cICkmCEiXRhvZmbuAlsA5D9B2rK.jpg,...,Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87599,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",NaN,45527,tt1331329,The Final Storm,A stranger named Silas flees from a devastatin...,1.270832,/sEP5bLtK5IyQxOFtq5AYz4kUpzD.jpg,...,Released,"Action, Horror",The Final Storm,False,3.7,11.0,NaN,NaN,NaN,NaN
87600,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,455661,tt6969946,In a Heartbeat,A closeted boy runs the risk of being outed by...,20.82178,/wJUJROdLOtOzMixkjkx1aaZGSLl.jpg,...,Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0,NaN,NaN,NaN,NaN
87601,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,327237,tt3814486,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",0.590087,/aNrh6DfTngUvi7WdpTjLTPzYbTU.jpg,...,Released,The movie about Andre Hazes,"Blood, Sweat and Tears",False,6.8,11.0,NaN,NaN,NaN,NaN
87602,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,84710,tt0036975,Jungle Woman,Paula the ape woman (Acquanetta) is alive and ...,0.143223,/udZ3hvhC52su7UQrGsIyDxK7IQA.jpg,...,Released,RAPTUROUS BEAUTY!...FURY OF A BEAST!,Jungle Woman,False,5.8,2.0,NaN,NaN,NaN,NaN
87603,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,39562,tt0889600,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",0.767762,/w1TxeDOMS5so83bECaQECW1pV9.jpg,...,Released,NaN,To Be Fat Like Me,False,5.0,12.0,NaN,NaN,NaN,NaN
87604,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,14008,tt0294425,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,4.392389,/9sQVYo7B9cSexWXoQVzFFijCbD2.jpg,...,Released,Too Cool For The Rules!,Cadet Kelly,False,5.2,145.0,NaN,NaN,NaN,NaN
87605,NaN,0,[],NaN,44330,tt0135690,Le tripot clandestin,A combination gambling den and bawdy house is ...,0.21926,/6MwBolpHcddjB3JQyNo2AfB8e3L.jpg,...,NaN,NaN,The Scheming Gambler's Paradise,False,5.0,3.0,NaN,NaN,NaN,NaN
87606,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,49279,tt0000359,L'Homme la tte de caoutchouc,A chemist in his laboratory places upon a tabl...,1.618458,/9oqTGZcQf0UwsbA8mKPeJzPRJ5e.jpg,...,Released,NaN,The Man with the Rubber Head,False,7.6,29.0,NaN,NaN,NaN,NaN
87607,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,44333,tt0135179,Les cartes vivantes,A bearded magician holds up a large playing ca...,0.208349,/v7V9SA14gmznzpvxbKCtA4BzQ7z.jpg,...,Released,NaN,The Living Playing Cards,False,6.1,8.0,NaN,NaN,NaN,NaN
87608,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49277,tt0135122,Les affiches en goguette,A wall full of advertising posters comes to life.,0.148131,/nLVgY3fYMnRbRzEoz3fF0wrqtCr.jpg,...,Released,NaN,The Hilarious Posters,False,4.5,2.0,NaN,NaN,NaN,NaN
87609,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49271,tt0127948,Le locataire diabolique,A man rents an apartment and furnishes it in r...,0.725084,/tX3x4Jms6xqVgiet0Ei2Ks0XkAg.jpg,...,Released,NaN,The Devilish Tenant,False,6.7,12.0,NaN,NaN,NaN,NaN
87610,NaN,0,[],NaN,44324,tt0135631,Le Roi du maquillage,The background of this picture represents a sc...,0.213973,/ifWvveLPWWrzitz4oL01YMEokiB.jpg,...,Released,NaN,The Untameable Whiskers,False,6.0,6.0,NaN,NaN,NaN,NaN
87611,NaN,0,[],NaN,122036,tt0224286,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,0.071782,/ifWvveLPWWrzitz4oL01YMEokiB.jpg,...,Released,NaN,The Imperceptable Transmutations,False,5.0,2.0,NaN,NaN,NaN,NaN
87612,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,14885,tt0457437,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",2.568495,/yU6byKhpzHG1RFpY5PYM6mfhfU1.jpg,...,Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,False,5.4,7.0,NaN,NaN,NaN,NaN
87613,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,49280,tt0135453,L'Homme orchestre,A band-leader has arranged seven chairs for th...,1.109068,/ZLOgI7KjtWby1NEg2pjU2Id60W.jpg,...,Released,NaN,The One-Man Band,False,6.5,22.0,187.0,49280.0,5.0,1.228072e+09
87614,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,106807,tt0135571,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,0.225432,/tn5J3PszVETDkKj49nakmeqr8Od.jpg,...,Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0,NaN,NaN,NaN,NaN
87615,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,276895,tt3054038,Deep Hearts,"Deep Hearts is a film about the Bororo Fulani,...",0.011025,/8jI4ykkIVDmrYgUjDld9i0aulMq.jpg,...,Released,NaN,Deep Hearts,False,0.0,0.0,NaN,NaN,NaN,NaN
87616,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,404604,tt5690142,Maa,The bliss of a biology teachers family life i...,1.559596,/zZwbntqdfKdVgzH1RoMHa99g0mJ.jpg,...,Released,NaN,Mom,False,6.6,14.0,NaN,NaN,NaN,NaN
87617,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,420346,tt4130180,The Morning After,The Morning After is a feature film that consi...,0.139936,/rpkDqyKdXahRcZIEC9I02EBSwje.jpg,...,Released,What happened last night?,The Morning After,False,4.0,2.0,NaN,NaN,NaN,NaN
87618,NaN,0,[],NaN,67179,tt0069215,San Michele aveva un gallo,Sentenced to life imprisonment for illegal act...,0.225051,/j1AN0L4motTt8SBxeTMXDtExsYl.jpg,...,Released,NaN,St. Michael Had a Rooster,False,6.0,3.0,NaN,NaN,NaN,NaN
87619,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,84419,tt0038621,House of Horrors,An unsuccessful sculptor saves a madman named ...,0.222814,/yMnq9mL5uYxbRgwKqyz1cVGCJYJ.jpg,...,Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0,NaN,NaN,NaN,NaN
87620,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,390959,tt0265736,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",0.076061,/q75tCM4pFmUzdCg0gqcOQquCaYf.jpg,...,Released,NaN,Shadow of the Blair Witch,False,7.0,2.0,NaN,NaN,NaN,NaN
87621,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,289923,tt0252966,The Burkittsville 7,A film archivist revisits the story of Rustin ...,0.38645,/lXtoHVdej6kS1Dc7KAhw05sMos9.jpg,...,Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0,NaN,NaN,NaN,NaN
87622,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848,tt0112613,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,0.661558,/4lF9LH0b0Z1X94xGK9IOzqEW6k1.jpg,...,Released,NaN,Caged Heat 3000,False,3.5,1.0,NaN,NaN,NaN,NaN
87623,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,/fQC46NglNiEMZBv5XHoyLuOWoN5.jpg,...,Released,NaN,Robin Hood,False,5.7,26.0,NaN,NaN,NaN,NaN
87624,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,...,Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,NaN,NaN,NaN,NaN
87625,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,...,Released,NaN,Century of Birthing,False,9.0,3.0,NaN,NaN,NaN,NaN
87626,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,...,Released,A deadly game of wits.,Betrayal,False,3.8,6.0,NaN,NaN,NaN,NaN
87627,NaN,0,[],NaN,227506,tt0008536,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,...,Released,NaN,Satan Triumphant,False,0.0,0.0,NaN,NaN,NaN,NaN
87628,NaN,0,[],NaN,461257,tt6980792,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,...,Released,NaN,Queerama,False,0.0,0.0,NaN,NaN,NaN,NaN

In [65]:
movies_df.merge(ratings_df, how='right', left_on='id', right_on='movieId').shape

(100009, 25)

In [72]:
ratings_with_movie_names = ratings_df.merge(movies_df[['id', 'original_title']], how='left', left_on='movieId', right_on='id')

In [73]:
ratings_with_movie_names.head()

   userId  movieId  rating   timestamp  id original_title
0       1       31     2.5  1260759144 NaN            NaN
1       1     1029     3.0  1260759179 NaN            NaN
2       1     1061     3.0  1260759182 NaN            NaN
3       1     1129     2.0  1260759185 NaN            NaN
4       1     1172     4.0  1260759205 NaN            NaN

In [83]:
imdb_ratings_with_movie_names = ratings_df.merge(movies_df[['imdb_id', 'original_title']], how='left', left_on='movieId', right_on='imdb_id')

In [84]:
imdb_ratings_with_movie_names.shape

(100004, 6)

In [85]:
imdb_ratings_with_movie_names.head()

   userId  movieId  rating   timestamp  imdb_id original_title
0       1       31     2.5  1260759144      NaN            NaN
1       1     1029     3.0  1260759179      NaN            NaN
2       1     1061     3.0  1260759182      NaN            NaN
3       1     1129     2.0  1260759185      NaN            NaN
4       1     1172     4.0  1260759205      NaN            NaN

In [86]:
imdb_ratings_with_movie_names[imdb_ratings_with_movie_names.original_title.isnull() == True].shape

(100004, 6)

In [90]:
ratings_with_movie_names = ratings_df.merge(movies_df[['id', 'original_title']], how='left', left_on='movieId', right_on='id')
legit_ratings = ratings_with_movie_names[ratings_with_movie_names.original_title.isnull() == False]

In [77]:
ratings_with_movie_names.head()

   userId  movieId  rating   timestamp  id original_title
0       1       31     2.5  1260759144 NaN            NaN
1       1     1029     3.0  1260759179 NaN            NaN
2       1     1061     3.0  1260759182 NaN            NaN
3       1     1129     2.0  1260759185 NaN            NaN
4       1     1172     4.0  1260759205 NaN            NaN

In [118]:
legit_ratings.tail()

       userId  movieId  rating   timestamp      id            original_title
99958     671     2959     4.0  1064890427  2959.0            License to Wed
99960     671     3052     1.0  1063503966  3052.0          Don't Make Waves
99974     671     4011     4.0  1064245574  4011.0               Beetlejuice
99983     671     4886     5.0  1064245488  4886.0  And Then There Were None
99988     671     4995     4.0  1064891537  4995.0             Boogie Nights

In [229]:
len(legit_ratings.original_title.unique())
len(ratings_with_movie_names.original_title.unique())

1389

In [236]:
# We'll use the famous SVD algorithm.
algo = SVD(verbose=True)
algo2 = KNNWithZScore()
algo3 = KNNBaseline(bsl_options={'method': 'sgd'})
algo4 = NMF()


reader = Reader(rating_scale=(0, 5))
data = Dataset.load_from_df(ratings_with_movie_names[['userId', 'movieId', 'rating']], reader)
trainset = data.build_full_trainset()

In [244]:
from surprise.prediction_algorithms.knns import KNNBasic
sim_options = {'name': 'cosine',
               'user_based': True  # compute  similarities between items
               }
algo = SVD(verbose=True)

In [245]:
algo.fit(trainset)
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, n_jobs=-1, verbose=True)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9
Processing epoch 10
Processing epoch 11
Processing epoch 12
Processing epoch 13
Processing epoch 14
Processing epoch 15
Processing epoch 16
Processing epoch 17
Processing epoch 18
Processing epoch 19
Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8938  0.8942  0.9075  0.8940  0.8927  0.8964  0.0056
MAE (testset)     0.6874  0.6909  0.6952  0.6893  0.6868  0.6899  0.0030
Fit time          4.49    4.29    3.99    3.82    3.66    4.05    0.30
Test time         0.13    0.12    0.13    0.13    0.12    0.13    0.00

{'test_rmse': array([0.89375892, 0.89416475, 0.907531  , 0.89395464, 0.89266232]),
 'test_mae': array([0.68741494, 0.69092396, 0.69524899, 0.68928817, 0.6868084 ]),
 'fit_time': (4.48611307144165,
  4.294166088104248,
  3.989053964614868,
  3.8179097175598145,
  3.663433074951172),
 'test_time': (0.1303701400756836,
  0.12392807006835938,
  0.1300520896911621,
  0.12836813926696777,
  0.12376284599304199)}

In [246]:
algo4.predict(1, 2959)

AttributeError: 'NMF' object has no attribute 'trainset'

In [137]:
from collections import defaultdict

In [182]:
from collections import defaultdict

from surprise import SVD
from surprise import Dataset


def get_top_n(predictions, n=10):
    '''Return the top-N recommendation for each user from a set of predictions.

    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.

    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    '''

    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

In [247]:
testset = trainset.build_anti_testset()

In [248]:
predictions = algo.test(testset)

In [249]:
top_n = get_top_n(predictions, n=50)

#for uid, user_ratings in top_n.items():
#    print(uid, [iid for (iid, _) in user_ratings])

In [258]:
#top_n[20]
lower_suggested_films = top_n[1][-6:]

In [262]:
ratings_with_movie_names.groupby('userId').get_group(1)

,userId,movieId,rating,timestamp,id,original_title
0,1,31,2.5,1260759144,NaN,NaN
1,1,1029,3.0,1260759179,NaN,NaN
2,1,1061,3.0,1260759182,NaN,NaN
3,1,1129,2.0,1260759185,NaN,NaN
4,1,1172,4.0,1260759205,NaN,NaN
5,1,1263,2.0,1260759151,NaN,NaN
6,1,1287,2.0,1260759187,NaN,NaN
7,1,1293,2.0,1260759148,NaN,NaN
8,1,1339,3.5,1260759125,NaN,NaN
9,1,1343,2.0,1260759131,NaN,NaN
10,1,1371,2.5,1260759135,1371.0,Rocky III
11,1,1405,1.0,1260759203,1405.0,Greed
12,1,1953,4.0,1260759191,NaN,NaN
13,1,2105,4.0,1260759139,2105.0,American Pie
14,1,2150,3.0,1260759194,NaN,NaN
15,1,2193,2.0,1260759198,2193.0,My Tutor
16,1,2294,2.0,1260759108,2294.0,Jay and Silent Bob Strike Back
17,1,2455,2.5,1260759113,NaN,NaN
18,1,2968,1.0,1260759200,NaN,NaN
19,1,3671,3.0,1260759117,NaN,NaN

In [263]:
for pred in top_n[1]:
    movie_name = ratings_with_movie_names[ratings_with_movie_names.movieId == pred[0]]['original_title'].iloc[0]
    print(f'The Movie name is {movie_name}')

The Movie name is nan
The Movie name is The Good Thief
The Movie name is nan
The Movie name is nan
The Movie name is nan
The Movie name is While You Were Sleeping
The Movie name is nan
The Movie name is Point Break
The Movie name is Galaxy Quest
The Movie name is nan
The Movie name is Nell
The Movie name is nan
The Movie name is nan
The Movie name is nan
The Movie name is nan
The Movie name is Murder She Said
The Movie name is nan
The Movie name is nan
The Movie name is nan
The Movie name is nan
The Movie name is The Million Dollar Hotel
The Movie name is Lonely Hearts
The Movie name is nan
The Movie name is nan
The Movie name is nan
The Movie name is The Thomas Crown Affair
The Movie name is nan
The Movie name is nan
The Movie name is The Thomas Crown Affair
The Movie name is nan
The Movie name is nan
The Movie name is nan
The Movie name is Totally Blonde
The Movie name is nan
The Movie name is nan
The Movie name is nan
The Movie name is nan
The Movie name is Gremlins 2: The New Batch
The Movie name is nan
The Movie name is nan
The Movie name is Frankenstein
The Movie name is nan
The Movie name is nan
The Movie name is nan
The Movie name is nan
The Movie name is nan
The Movie name is Men in Black II
The Movie name is Sleepless in Seattle
The Movie name is nan
The Movie name is nan

In [257]:
top_n.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671])

In [ ]:
top_n[1]

In [264]:
ratings_with_movie_names[ratings_with_movie_names.movieId == 6016]['original_title'].iloc[0]

'The Good Thief'