In [67]:
import pandas as pd
ratings_df = pd.read_csv('../data/the-movies-dataset/ratings_small.csv')

In [25]:
ratings_df.shape

(100004, 4)

In [33]:
ratings_df.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [39]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [55]:
ratings_df['movieId'].unique

<bound method Series.unique of 0           31
1         1029
2         1061
3         1129
4         1172
5         1263
6         1287
7         1293
8         1339
9         1343
10        1371
11        1405
12        1953
13        2105
14        2150
15        2193
16        2294
17        2455
18        2968
19        3671
20          10
21          17
22          39
23          47
24          50
25          52
26          62
27         110
28         144
29         150
          ...
99974     4034
99975     4306
99976     4308
99977     4880
99978     4886
99979     4896
99980     4963
99981     4973
99982     4993
99983     4995
99984     5010
99985     5218
99986     5299
99987     5349
99988     5377
99989     5445
99990     5464
99991     5669
99992     5816
99993     5902
99994     5952
99995     5989
99996     5991
99997     5995
99998     6212
99999     6268
100000    6269
100001    6365
100002    6385
100003    6565
Name: movieId, Length: 100004, dtype: int64>

In [40]:
ratings_df.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [61]:
pivoted_ratings = ratings_df[['userId', 'movieId', 'rating']].pivot(index='userId', columns='movieId', values='rating')

In [62]:
pivoted_ratings.shape

(671, 9066)

In [63]:
pivoted_ratings.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
ratings_df = pivoted_ratings.fillna(.5)

In [52]:
from surprise import SVD
from surprise.model_selection import cross_validate, train_test_split
from surprise import Dataset
from surprise import Reader
from surprise.prediction_algorithms.knns import KNNWithZScore, KNNBaseline
from surprise.prediction_algorithms.matrix_factorization import NMF

# We'll use the famous SVD algorithm.
algo = SVD(verbose=True)
algo2 = KNNWithZScore()
algo3 = KNNBaseline(bsl_options={'method': 'sgd'})
algo4 = NMF()

reader = Reader(rating_scale=(0, 5))
data = Dataset.load_from_df(ratings_df[['userId', 'movieId', 'rating']], reader)


cross_validate(algo4, data, measures=['RMSE', 'MAE'], cv=5, n_jobs=-1, verbose=True)

Evaluating RMSE, MAE of algorithm NMF on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9667  0.9774  0.9859  0.9695  0.9782  0.9755  0.0068
MAE (testset)     0.7520  0.7658  0.7721  0.7585  0.7646  0.7626  0.0069
Fit time          3.83    3.86    3.85    3.81    3.74    3.82    0.04
Test time         0.10    0.09    0.09    0.09    0.09    0.09    0.00

{'test_rmse': array([0.96665739, 0.97743277, 0.98590718, 0.96950362, 0.97819713]),
 'test_mae': array([0.75196954, 0.76583209, 0.77212042, 0.75847526, 0.76464282]),
 'fit_time': (3.833962917327881,
  3.8574700355529785,
  3.8462321758270264,
  3.8093271255493164,
  3.737318992614746),
 'test_time': (0.0984346866607666,
  0.09462404251098633,
  0.0902249813079834,
  0.09289193153381348,
  0.09151220321655273)}

In [64]:
small_df = ratings_df.sample(n=10)

In [65]:
small_df

       userId  movieId  rating   timestamp
1819       15     4451     2.5  1075143282
1308       15     1584     4.0  1052896685
96287     641     1407     5.0   856747910
41332     295     8957     4.0  1112543772
14855      96     3739     5.0  1223256464
30529     217      110     4.0  1108160687
39915     292     1722     4.0  1140050529
62386     452     4292     4.0   989110975
58420     424     2770     4.0  1088826594
35469     254      253     3.0   845157293

In [135]:
movies_df = movies[['original_title', 'movieId']]

In [141]:
movies_df.dtypes

original_title    object
movieId           object
dtype: object

In [147]:
movies_df.movieId = pd.to_numeric(movies_df.movieId, errors='coerce').fillna(-1).astype('int64')

/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [149]:
movies_df.shape

(45466, 2)

In [151]:
movies.shape

(45466, 25)

In [172]:
mask = movies_df['movieId'] == -1
movies_df.head()

   userId  movieId  rating   timestamp              original_title
0      15     1584     4.0  1052896685              School of Rock
1     641     1407     5.0   856747910                     La Môme
2     217      110     4.0  1108160687      Trois couleurs : Rouge
3     292     1722     4.0  1140050529  Captain Corelli's Mandolin
4     424     2770     4.0  1088826594              American Pie 2

In [173]:
movies_df = small_df.merge(movies_df, on='movieId')

In [176]:
movies_df.head()

,userId_x,movieId,rating_x,timestamp_x,userId_y,rating_y,timestamp_y,original_title
0,15,1584,4.0,1052896685,15,4.0,1052896685,School of Rock
1,641,1407,5.0,856747910,641,5.0,856747910,La Môme
2,217,110,4.0,1108160687,217,4.0,1108160687,Trois couleurs : Rouge
3,292,1722,4.0,1140050529,292,4.0,1140050529,Captain Corelli's Mandolin
4,424,2770,4.0,1088826594,424,4.0,1088826594,American Pie 2

In [177]:
movies_pivoted = movies_df.pivot(index='userId_x', columns='movieId', values='rating_x')

In [165]:
movie_df_pivoted = movies_df.pivot(index='userId', columns='movieId', values='rating')

In [66]:
small_df.pivot(index='userId', columns='movieId', values='rating')

movieId  110   253   1407  1584  1722  2770  3739  4292  4451  8957
userId
15        NaN   NaN   NaN   4.0   NaN   NaN   NaN   NaN   2.5   NaN
96        NaN   NaN   NaN   NaN   NaN   NaN   5.0   NaN   NaN   NaN
217       4.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
254       NaN   3.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
292       NaN   NaN   NaN   NaN   4.0   NaN   NaN   NaN   NaN   NaN
295       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   4.0
424       NaN   NaN   NaN   NaN   NaN   4.0   NaN   NaN   NaN   NaN
452       NaN   NaN   NaN   NaN   NaN   NaN   NaN   4.0   NaN   NaN
641       NaN   NaN   5.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN

In [68]:
pivoted = ratings_df.pivot(index='userId', columns='movieId', values='rating')

In [90]:
len(ratings_df['movieId'].unique())

9066

In [69]:
pivoted.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
pivoted_filled = pivoted.fillna(.5)

In [180]:
movie_df_pivoted = movies_pivoted.fillna(0)

In [170]:
movie_df_pivoted.head()

movieId  110   253   1407  1584  1722  2770
userId
15        0.0   0.0   0.0   4.0   0.0   0.0
217       4.0   0.0   0.0   0.0   0.0   0.0
254       0.0   3.0   0.0   0.0   0.0   0.0
292       0.0   0.0   0.0   0.0   4.0   0.0
424       0.0   0.0   0.0   0.0   0.0   4.0

In [93]:
from sklearn.decomposition import TruncatedSVD

svd = TruncatedSVD(n_components=10, n_iter=7, random_state=42)
svd.fit(pivoted_filled)

TruncatedSVD(algorithm='randomized', n_components=10, n_iter=7,
       random_state=42, tol=0.0)

In [94]:
print(svd.explained_variance_ratio_)

[0.05550726 0.0653082  0.04663567 0.03124022 0.01909455 0.0172729
 0.01504083 0.01447535 0.01214544 0.01103283]

In [95]:
print(svd.singular_values_)

[1406.38361097  250.00241714  208.95216658  171.02156865  133.70712276
  127.16359922  118.84360005  116.4122836   106.63228386  101.63180084]

In [167]:
from scipy.linalg import svd as scipy_svd
U, Sigma, VT = scipy_svd(pivoted_filled)

In [212]:
U_test, Sigma_test, VT_test = scipy_svd(pivoted_filled)

In [188]:
pivoted_filled.shape

(671, 9066)

In [213]:
Vmatx = pd.DataFrame(VT_test)

In [214]:
Umatx = pd.DataFrame(U_test)

In [215]:
Vmatx.head()

,0,1,2,3,4,5,6,7,8,9,...,9056,9057,9058,9059,9060,9061,9062,9063,9064,9065
0,-0.033558,-0.018355,-0.013560,-0.009798,-0.013705,-0.019780,-0.013539,-0.009602,-0.010529,-0.019651,...,-0.009215,-0.009088,-0.009222,-0.009112,-0.009137,-0.009226,-0.009303,-0.009197,-0.009148,-0.009375
1,0.041230,0.010040,-0.006467,-0.006485,-0.000343,0.023492,0.000069,-0.006373,-0.010216,0.010753,...,-0.006727,-0.007646,-0.006357,-0.007461,-0.007276,-0.007746,-0.005583,-0.008275,-0.007996,-0.005579
2,-0.030658,-0.010223,0.009034,0.003434,0.005847,0.001952,0.020867,0.003408,0.006597,-0.011131,...,0.001644,0.000421,-0.001884,0.000191,-0.000038,-0.001016,-0.003267,0.000372,0.000394,0.003171
3,0.042481,0.069175,0.027087,0.006006,0.029629,0.019549,0.024422,0.005033,0.014470,0.081076,...,-0.003490,0.000652,0.000729,0.000738,0.000823,0.000881,0.000775,0.000466,0.000549,-0.008668
4,-0.001214,-0.027473,0.001386,-0.002194,-0.003741,-0.063788,0.001004,-0.001986,-0.001654,-0.059125,...,-0.003813,0.000977,0.001279,0.001367,0.001757,0.003703,0.001460,0.001450,0.001240,-0.009800

In [216]:
Umatx.head()

,0,1,2,3,4,5,6,7,8,9,...,661,662,663,664,665,666,667,668,669,670
0,-0.033310,-0.036091,0.013554,-0.012370,0.019126,-0.000660,0.008808,-0.012245,0.006421,-0.017007,...,0.036896,-0.008904,0.001622,-0.013954,0.001225,-0.004141,0.005255,-0.017511,0.007219,-0.006460
1,-0.036076,-0.023756,0.021776,0.050135,-0.070503,0.007255,0.013427,0.022132,-0.021953,-0.000190,...,0.022619,0.003883,0.041512,-0.017571,0.038864,-0.055351,0.018636,0.010548,0.012710,0.048683
2,-0.035302,-0.022657,-0.003482,-0.002326,-0.003092,0.002335,-0.016754,-0.015031,-0.002619,0.015388,...,0.018040,-0.000326,-0.006742,-0.000505,0.004824,-0.005375,0.013257,-0.006829,-0.002142,-0.001992
3,-0.042439,0.051439,0.033056,0.050554,0.101593,0.028359,0.012887,0.062993,-0.032854,-0.062601,...,0.001138,-0.003094,0.001171,-0.004623,0.002833,0.000025,-0.004361,-0.001094,0.007521,0.001787
4,-0.037268,-0.001454,-0.012799,0.012769,-0.008617,-0.063712,0.002828,-0.047961,-0.039844,-0.018956,...,-0.009826,0.008793,0.005874,-0.000663,-0.007912,0.000645,-0.009598,-0.004837,0.004441,-0.004756

In [228]:
def cosine_distance(u, v):
    """
    Returns the cosine of the angle between vectors v and u. This is equal to
    u.v / |u||v|.
    """
    return np.dot(u, v) / (math.sqrt(np.dot(u, u)) * math.sqrt(np.dot(v, v)))

In [217]:
user1 = Umatx.iloc[0]

In [218]:
Umatx.shape

(671, 671)

In [219]:
Vmatx.shape

(9066, 9066)

In [220]:
Sigma_test.shape

(671,)

In [221]:
pivoted_filled.shape

(671, 9066)

In [223]:
Umatx.head()

,0,1,2,3,4,5,6,7,8,9,...,661,662,663,664,665,666,667,668,669,670
0,-0.033310,-0.036091,0.013554,-0.012370,0.019126,-0.000660,0.008808,-0.012245,0.006421,-0.017007,...,0.036896,-0.008904,0.001622,-0.013954,0.001225,-0.004141,0.005255,-0.017511,0.007219,-0.006460
1,-0.036076,-0.023756,0.021776,0.050135,-0.070503,0.007255,0.013427,0.022132,-0.021953,-0.000190,...,0.022619,0.003883,0.041512,-0.017571,0.038864,-0.055351,0.018636,0.010548,0.012710,0.048683
2,-0.035302,-0.022657,-0.003482,-0.002326,-0.003092,0.002335,-0.016754,-0.015031,-0.002619,0.015388,...,0.018040,-0.000326,-0.006742,-0.000505,0.004824,-0.005375,0.013257,-0.006829,-0.002142,-0.001992
3,-0.042439,0.051439,0.033056,0.050554,0.101593,0.028359,0.012887,0.062993,-0.032854,-0.062601,...,0.001138,-0.003094,0.001171,-0.004623,0.002833,0.000025,-0.004361,-0.001094,0.007521,0.001787
4,-0.037268,-0.001454,-0.012799,0.012769,-0.008617,-0.063712,0.002828,-0.047961,-0.039844,-0.018956,...,-0.009826,0.008793,0.005874,-0.000663,-0.007912,0.000645,-0.009598,-0.004837,0.004441,-0.004756

In [236]:
Umatx.apply(cosine_distance, raw=True, args=(user1), axis=1)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [233]:
import numpy as np
import math
type(cosine_distance(user1, user1))

numpy.float64

### Cosine Similarity

In [237]:
from sklearn.metrics.pairwise import cosine_similarity

In [250]:
cosine_similarity(user1.reshape(1,-1) ,user1.reshape(1,-1))

array([[1.]])

In [251]:
user1 = U_test[0]

In [265]:
from heapq import heappush, heappop, nlargest, nsmallest

user_v = user1.reshape(1,-1)
heap = []
for i, row in enumerate(U_test):
    v_row = row.reshape(1,-1)
    heappush(heap, (cosine_similarity(user_v, v_row)[0][0], i))

In [264]:
nsmallest(10, heap)

[-5.48172618408671e-16,
 -3.2959746043559335e-16,
 -3.200564813177209e-16,
 -2.983724378680108e-16,
 -2.671474153004283e-16,
 -2.5673907444456745e-16,
 -2.5326962749261384e-16,
 -2.42861286636753e-16,
 -2.42861286636753e-16,
 -2.3592239273284576e-16]

In [266]:
nsmallest(10, heap)

[(-5.48172618408671e-16, 324),
 (-3.2959746043559335e-16, 632),
 (-3.200564813177209e-16, 468),
 (-2.983724378680108e-16, 384),
 (-2.671474153004283e-16, 551),
 (-2.5673907444456745e-16, 8),
 (-2.5326962749261384e-16, 414),
 (-2.42861286636753e-16, 325),
 (-2.42861286636753e-16, 633),
 (-2.3592239273284576e-16, 171)]

In [40]:
ratings_df_pivoted.shape

(671, 9066)

In [55]:
U.shape

(671, 671)

In [53]:
VT.shape

(671, 9066)

In [54]:
Sigma.shape

(671,)

In [41]:
ratings_df_pivoted

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2.0,2.0,0.0,0.0,4.5,4.0,0.0,0.0,0.0,3.0,...,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,4.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,3.0,4.0,3.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,3.0,3.0,3.0,3.0,0.0,3.0,3.0,0.0,3.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,3.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,4.0,2.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
644,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
645,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
646,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
647,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
648,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
649,4.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
650,0.0,0.0,3.0,1.0,3.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
651,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
652,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
653,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
654,5.0,3.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
655,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
656,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
657,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
659,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
660,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
661,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
662,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
663,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
664,3.5,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
665,0.0,3.0,3.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
666,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
667,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
670,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
671,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Create SVD Matrix

In [68]:
import pandas as pd
from scipy.linalg import svd as scipy_svd
import numpy as np
import math
from sklearn.metrics.pairwise import cosine_similarity
from heapq import heappush, heappop, nlargest, nsmallest

ratings_df = pd.read_csv('../data/the-movies-dataset/ratings_small.csv')
movies = pd.read_csv('../data/the-movies-dataset/movies_metadata.csv')

In [88]:
movies_df = movies[['original_title', 'id']]

movies_df = movies_df.assign(movieId=pd.to_numeric(movies_df.id, errors='coerce').fillna(-1).astype('int64'))


movies_df = ratings_df.merge(movies_df, on='movieId')

In [89]:
movies_df.head()

   userId  movieId  rating   timestamp original_title    id
0       1     1371     2.5  1260759135      Rocky III  1371
1       4     1371     4.0   949810302      Rocky III  1371
2       7     1371     3.0   851869160      Rocky III  1371
3      19     1371     4.0   855193404      Rocky III  1371
4      21     1371     3.0   853852263      Rocky III  1371

In [74]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [92]:
movies_df.groupby(['userId', 'movieId']).agg()

                rating   timestamp                            original_title  \
userId movieId
1      1371        2.5  1260759135                                 Rocky III
       1405        1.0  1260759203                                     Greed
       2105        4.0  1260759139                              American Pie
       2193        2.0  1260759198                                  My Tutor
       2294        2.0  1260759108            Jay and Silent Bob Strike Back
       2455        2.5  1260759113                        Vivement dimanche!
2      17          5.0   835355681                                  The Dark
       62          3.0   835355749                     2001: A Space Odyssey
       110         4.0   835355532                    Trois couleurs : Rouge
       144         3.0   835356016                    Der Himmel über Berlin
       150         5.0   835355395                                   48 Hrs.
       153         4.0   835355441                       Lost in Translation
       161         3.0   835355493                            Ocean's Eleven
       165         3.0   835355441                Back to the Future Part II
       168         3.0   835355710             Star Trek IV: The Voyage Home
       185         3.0   835355511                        A Clockwork Orange
       186         3.0   835355664                       Lucky Number Slevin
       222         5.0   835355840        Berlin: Die Sinfonie der Grosstadt
       223         1.0   835355749                                   Rebecca
       225         3.0   835355552                         Czlowiek z zelaza
       235         3.0   835355664                               Stand by Me
       248         3.0   835355896                     Pocketful of Miracles
       253         4.0   835355511                          Live and Let Die
       261         4.0   835355681                     Cat on a Hot Tin Roof
       265         5.0   835355697                              Lili Marleen
       266         5.0   835355586                                 Le Mépris
       272         3.0   835355767                             Batman Begins
       273         4.0   835355779                       Das weisse Rauschen
       292         3.0   835355492              Dave Chappelle's Block Party
       296         4.0   835355395        Terminator 3: Rise of the Machines
...                ...         ...                                       ...
671    1641        4.0  1063503954                          Forces of Nature
       1673        3.5  1063500961                          Comanche Station
       1676        3.0  1065108970                                Will Penny
       1923        4.0  1063502756             Twin Peaks: Fire Walk with Me
       2011        3.5  1063500873                                Persepolis
       2028        4.0  1064891584                           Say Anything...
       2064        4.0  1063502750                   While You Were Sleeping
       2291        5.0  1063500850                            Jacob's Ladder
       2324        4.0  1063500858                               Local Color
       2355        4.0  1063500762                             Reign Over Me
       2359        4.0  1063503933                                     Sicko
       2502        3.5  1063503856                      The Bourne Supremacy
       2762        4.0  1064891036                        Young and Innocent
       2959        4.0  1064890427                            License to Wed
       3052        1.0  1063503966                          Don't Make Waves
       3060        4.0  1063503947                            The Big Parade
       3114        5.0  1064891089                             The Searchers
       3160        3.0  1063503682  Furankenshutain Tai Chitei Kaijū Baragon
       4011        4.0  1064245574                               Beetlejuice
       4034        4.5  1064245493                            L'Homme de Rio
       4880        4.0  1065111973                     Nichts als Gespenster
       4886        5.0  1064245488                  And Then There Were None
       4896        5.0  1065111996                          Muxmäuschenstill
       4973        4.5  1064245471                             Sous le Sable
       4993        5.0  1064245483                               5 Card Stud
       4995        4.0  1064891537                             Boogie Nights
       5816        4.0  1065111963                                      Ober
       5902        3.5  1064245507                          A Bridge Too Far
       5991        4.5  1064245387                           Der letzte Mann
       5995        4.0  1066793014                                     Miffo

                  id
userId movieId
1      1371     1371
       1405     1405
       2105     2105
       2193     2193
       2294     2294
       2455     2455
2      17         17
       62         62
       110       110
       144       144
       150       150
       153       153
       161       161
       165       165
       168       168
       185       185
       186       186
       222       222
       223       223
       225       225
       235       235
       248       248
       253       253
       261       261
       265       265
       266       266
       272       272
       273       273
       292       292
       296       296
...              ...
671    1641     1641
       1673     1673
       1676     1676
       1923     1923
       2011     2011
       2028     2028
       2064     2064
       2291     2291
       2324     2324
       2355     2355
       2359     2359
       2502     2502
       2762     2762
       2959     2959
       3052     3052
       3060     3060
       3114     3114
       3160     3160
       4011     4011
       4034     4034
       4880     4880
       4886     4886
       4896     4896
       4973     4973
       4993     4993
       4995     4995
       5816     5816
       5902     5902
       5991     5991
       5995     5995

[44989 rows x 4 columns]

In [85]:
#Commented movies pivoted, because could not get column names as movie names
#movies_df.reset_index(inplace=True)
movies_pivoted = movies_df[['userId', 'movieId', 'rating']].pivot(index='userId', columns='movieId', values='rating')
#ratings_pivoted = ratings_df.pivot(index='userId', columns='movieId', values='rating')

#movie_df_pivoted = movies_pivoted.fillna(0)
#ratings_df_pivoted = ratings_pivoted.fillna(0)

ValueError: Index contains duplicate entries, cannot reshape

In [82]:
svd_input = ratings_df.merge(movies_df, how='left', on='movieId', suffixes=('', '1'))

In [83]:
svd_input.head()

,userId,movieId,rating,timestamp,level_0,index,userId1,rating1,timestamp1,original_title,id
0,1,31,2.5,1260759144,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1029,3.0,1260759179,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1061,3.0,1260759182,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1129,2.0,1260759185,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1172,4.0,1260759205,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
svd_input.isnull().sum()

userId                0
movieId               0
rating                0
timestamp             0
level_0           55015
index             55015
userId1           55015
rating1           55015
timestamp1        55015
original_title    55015
id                55015
dtype: int64

In [ ]:
U, Sigma, VT = scipy_svd(movie_df_pivoted, full_matrices=False)
#U, Sigma, VT = scipy_svd(ratings_df_pivoted.values, full_matrices=False)

In [66]:
user1 = U[1]

user_v = user1.reshape(1,-1)
heap = []
for i, row in enumerate(U):
    v_row = row.reshape(1,-1)
    heappush(heap, (cosine_similarity(user_v, v_row)[0][0], i))

print(nsmallest(10, heap))

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

ValueError: Index contains duplicate entries, cannot reshape

In [63]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [64]:
movies_df.head()

   userId  movieId  rating   timestamp original_title    id
0       1     1371     2.5  1260759135      Rocky III  1371
1       4     1371     4.0   949810302      Rocky III  1371
2       7     1371     3.0   851869160      Rocky III  1371
3      19     1371     4.0   855193404      Rocky III  1371
4      21     1371     3.0   853852263      Rocky III  1371

In [58]:
pd.DataFrame(VT.T, index=ratings_df_pivoted.columns.values)

,0,1,2,3,4,5,6,7,8,9,...,661,662,663,664,665,666,667,668,669,670
1,-0.078961,-0.035243,-0.050907,0.028616,0.008136,0.028946,0.065364,0.063612,-0.025274,0.018813,...,0.016361,0.034945,-0.024131,0.018539,-0.035395,-0.016775,0.029596,0.027444,-0.047852,0.063567
2,-0.032187,-0.015264,-0.064308,-0.008655,-0.041373,0.001270,0.025483,0.038160,0.007073,0.008542,...,-0.010672,-0.041870,-0.055457,0.013986,0.009900,-0.065183,0.005995,-0.021970,0.055425,-0.053545
3,-0.012846,0.005636,-0.028440,-0.009420,-0.015818,-0.004685,0.002659,0.006111,0.007165,0.003801,...,0.053952,-0.057408,-0.049232,-0.010528,-0.004044,-0.018703,0.017239,-0.013817,0.039810,-0.031211
4,-0.002416,0.002665,-0.006711,0.001049,-0.002712,0.000192,0.000195,0.005580,0.006754,0.003960,...,0.009880,0.028922,-0.004554,-0.031128,-0.013353,-0.007604,0.009789,-0.022174,-0.021233,-0.022152
5,-0.015225,0.004057,-0.026970,-0.018439,-0.022584,0.021009,-0.015852,0.018845,0.006176,0.023055,...,0.097576,0.056898,-0.102505,0.162508,-0.007992,0.024982,0.008476,0.055147,-0.025590,-0.004687
6,-0.038012,0.002343,-0.024066,0.039259,-0.034002,-0.044785,-0.031435,-0.055307,0.008385,-0.003077,...,0.037797,-0.095084,-0.023369,0.040705,-0.002454,-0.002454,0.057405,0.044920,-0.059877,0.042752
7,-0.014711,0.019143,-0.024539,-0.011992,-0.020762,0.026267,0.015658,0.022708,-0.003303,0.010887,...,-0.017005,0.047406,-0.025227,0.020172,-0.005416,-0.000028,0.010551,0.022638,0.015305,-0.002332
8,-0.001741,0.002836,-0.003775,-0.001847,-0.004573,0.005814,-0.003753,-0.006035,-0.007372,0.010121,...,-0.046261,0.005367,0.023683,-0.032498,-0.013234,-0.007618,0.007346,-0.051247,-0.015020,-0.022472
9,-0.003077,0.003698,-0.015768,-0.001582,-0.008990,-0.006361,0.003709,0.000525,0.001794,0.000892,...,0.020094,-0.025564,0.025169,0.043742,0.020029,-0.009992,-0.050885,-0.005196,0.057813,-0.024755
10,-0.035408,-0.017961,-0.080703,0.017175,-0.045783,-0.016481,-0.000728,-0.022538,0.031905,-0.047215,...,-0.033326,-0.035164,-0.025602,0.043602,-0.067955,-0.000174,-0.028093,0.002812,0.064930,-0.050621
11,-0.031490,0.031251,-0.044812,0.003583,-0.035185,0.035021,0.003584,-0.002092,0.005720,0.037539,...,-0.038761,-0.070338,-0.039131,0.022604,0.040400,-0.054341,-0.052486,-0.063389,-0.016546,0.034867
12,-0.004565,-0.001839,-0.007327,-0.011452,-0.006985,-0.003562,0.010327,0.005717,0.005351,-0.001909,...,0.044011,0.006437,-0.015981,0.003720,-0.020428,-0.006219,0.012392,-0.001245,0.021332,-0.023726
13,-0.003909,0.004013,-0.007487,-0.017175,-0.006130,-0.007175,0.012519,0.018946,-0.018462,0.010565,...,0.004710,-0.014198,0.000304,-0.010815,-0.007020,0.002170,-0.005430,-0.006636,0.006198,-0.000881
14,-0.011463,0.020796,0.002923,0.013718,-0.020877,-0.000100,-0.009304,-0.021445,-0.007583,0.010279,...,-0.084144,-0.029029,-0.002902,0.024746,-0.009410,-0.005340,-0.026443,-0.102190,0.009856,-0.014858
15,-0.003230,-0.000863,-0.005753,-0.009087,-0.007503,-0.002068,0.002036,-0.001778,0.003005,0.003701,...,0.020986,0.010827,0.003460,-0.042641,0.017512,0.000563,0.001077,0.022459,0.010915,0.026668
16,-0.040804,-0.000413,0.010003,0.008555,-0.029430,-0.038637,-0.048841,-0.026891,0.001128,0.022189,...,-0.028510,0.020561,0.006429,0.036161,0.026649,-0.028827,-0.003099,0.016841,-0.029215,0.028356
17,-0.030469,0.038117,-0.027897,0.018312,-0.032299,0.025910,0.017041,0.033085,0.012582,0.024079,...,0.014759,-0.003966,-0.037940,0.038639,0.011120,0.057488,-0.004782,0.104540,0.025624,0.017653
18,-0.006715,0.004288,-0.009028,0.000277,-0.005551,-0.010577,-0.015731,0.000612,-0.009860,0.001856,...,-0.006155,-0.033578,0.037289,0.002908,0.006691,-0.008721,-0.005485,0.009663,-0.036400,-0.023537
19,-0.021800,-0.011931,-0.039519,-0.005436,-0.032063,-0.006585,-0.017391,0.009578,0.007301,0.003660,...,-0.055753,0.067425,0.053147,0.084677,0.028992,0.035995,-0.084550,0.053532,-0.028456,-0.066040
20,-0.002795,-0.000024,-0.003922,-0.001019,-0.008690,-0.001485,-0.000889,-0.009124,0.009105,0.004956,...,0.015321,0.030690,0.021218,-0.017175,0.013008,-0.013759,0.012850,-0.058052,0.006851,-0.065189
21,-0.033596,0.027063,-0.028291,0.024972,-0.033727,-0.024268,0.010612,-0.029570,0.030266,0.013974,...,0.014872,0.093523,-0.018111,-0.038175,0.041597,0.068327,-0.101438,-0.033351,-0.025529,0.095587
22,-0.013753,0.010069,-0.027889,-0.000011,-0.031233,-0.026388,-0.016302,-0.007640,-0.013828,0.018009,...,0.035021,0.026229,-0.007847,0.003594,0.036475,0.013970,0.012365,0.053116,0.034499,-0.030622
23,-0.006207,0.000290,-0.016452,0.005521,-0.016524,-0.004893,-0.004739,-0.023601,-0.011092,0.007011,...,-0.024999,0.048531,-0.009585,0.008763,0.008111,-0.004206,0.017740,-0.000305,0.011798,-0.040054
24,-0.009212,0.004619,-0.005309,-0.009571,-0.003234,0.006983,-0.004420,0.003084,0.011440,0.004184,...,-0.055717,-0.017578,0.032429,0.063154,-0.003705,0.014862,0.010799,-0.024362,-0.017034,0.026483
25,-0.035000,0.028833,-0.011313,0.041518,-0.032750,-0.045649,-0.023156,-0.011876,-0.003103,0.021477,...,0.054140,0.037017,-0.033979,0.036426,-0.030215,-0.049482,-0.026644,0.034254,0.016251,-0.001790
26,-0.002116,0.003147,-0.003555,-0.003524,0.000571,0.001855,0.003373,0.006152,0.004984,-0.001748,...,0.002729,0.013885,-0.011813,0.030048,0.023250,-0.040123,0.005524,-0.017653,0.011870,-0.010877
27,-0.001997,0.003056,-0.005387,0.001884,-0.009196,0.007098,-0.003334,-0.004806,-0.003454,0.008498,...,0.013042,-0.001292,0.022920,0.004459,-0.001839,0.000948,0.002322,0.029510,0.001227,0.006720
28,-0.007305,0.012511,-0.002159,0.004093,-0.002493,0.012002,0.010693,0.014229,0.011316,0.017275,...,-0.032133,-0.004476,0.008262,-0.028922,0.009674,0.002262,0.005901,-0.019309,0.012695,-0.010135
29,-0.016322,0.005663,-0.006931,0.021186,0.008015,-0.030990,-0.000847,0.022191,0.031536,-0.023579,...,0.005663,0.010968,0.030337,0.048673,-0.020196,0.012810,-0.015076,0.032822,0.001410,0.021961
30,-0.003912,0.009314,-0.003986,0.000985,-0.006866,-0.021738,-0.005804,0.019338,-0.015291,0.003779,...,-0.011586,-0.009405,-0.006821,0.020396,-0.006677,-0.008122,-0.021829,0.007171,-0.002322,0.039844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158238,-0.002285,-0.002586,0.004098,-0.006280,-0.006676,-0.009455,-0.001876,-0.006187,0.013638,0.005484,...,-0.000982,-0.000863,-0.000911,-0.001121,0.000254,-0.001030,0.001179,-0.001424,-0.001444,0.001945
158314,-0.000249,-0.000668,-0.000085,-0.000074,0.000852,-0.000216,0.000352,0.001067,0.000011,-0.000951,...,-0.000850,-0.004033,0.004305,0.001496,0.001606,0.006083,-0.005903,0.011368,-0.003107,-0.003721
158528,-0.001006,-0.000219,0.002234,-0.001047,-0.002731,-0.002441,-0.001225,-0.003849,0.004281,0.001582,...,-0.000160,-0.000684,-0.000638,-0.001187,-0.000162,-0.000392,0.000114,-0.000670,-0.000078,0.001070
158956,-0.000119,-0.000493,0.000243,0.000330,0.000208,-0.000613,0.001038,0.000442,-0.001100,0.000140,...,0.002896,0.001376,0.000709,0.000987,-0.000283,0.004211,-0.001590,-0.000056,-0.001853,0.002133
159093,-0.000363,-0.000293,0.000567,-0.000097,-0.000605,-0.000890,0.000382,-0.001693,0.000414,0.000445,...,-0.004878,-0.000221,-0.000379,-0.005888,-0.001545,0.001586,0.002091,-0.005311,-0.000046,0.000457
159462,-0.000959,-0.001775,0.001398,-0.003925,-0.002958,-0.005261,-0.000488,-0.001754,0.007018,0.002926,...,-0.000616,-0.000134,-0.000205,0.000050,0.000312,-0.000478,0.000799,-0.000566,-0.001024,0.000656
159690,-0.000575,-0.000125,0.001276,-0.000598,-0.001561,-0.001395,-0.000700,-0.002199,0.002446,0.000904,...,-0.000091,-0.000391,-0.000364,-0.000678,-0.000093,-0.000224,0.000065,-0.000383,-0.000045,0.000612
159755,-0.000287,-0.000062,0.000638,-0.000299,-0.000780,-0.000697,-0.000350,-0.001100,0.001223,0.000452,...,-0.000046,-0.000195,-0.000182,-0.000339,-0.000046,-0.000112,0.000032,-0.000191,-0.000022,0.000306
159858,-0.002269,-0.002321,0.004184,-0.005776,-0.006573,-0.008927,-0.001970,-0.006445,0.013080,0.005222,...,-0.000902,-0.000938,-0.000968,-0.001298,0.000179,-0.001006,0.001062,-0.001425,-0.001284,0.001989
159972,-0.000144,-0.000031,0.000319,-0.000150,-0.000390,-0.000349,-0.000175,-0.000550,0.000612,0.000226,...,-0.000023,-0.000098,-0.000091,-0.000170,-0.000023,-0.000056,0.000016,-0.000096,-0.000011,0.000153
160080,-0.000287,-0.000062,0.000638,-0.000299,-0.000780,-0.000697,-0.000350,-0.001100,0.001223,0.000452,...,-0.000046,-0.000195,-0.000182,-0.000339,-0.000046,-0.000112,0.000032,-0.000191,-0.000022,0.000306
160271,-0.000719,-0.000156,0.001595,-0.000748,-0.001951,-0.001743,-0.000875,-0.002749,0.003058,0.001130,...,-0.000114,-0.000489,-0.000456,-0.000848,-0.000116,-0.000280,0.000081,-0.000478,-0.000056,0.000764
160438,-0.000440,-0.001595,0.000463,-0.001409,-0.000074,0.000385,0.006479,-0.000714,-0.002562,0.001661,...,-0.001276,-0.000831,-0.003081,-0.001741,-0.000164,-0.003395,-0.004068,0.005989,-0.000818,-0.001859
160440,-0.000393,-0.000375,0.000432,-0.002416,-0.001162,-0.000600,0.001090,-0.002782,0.002787,0.001284,...,0.000280,0.000376,-0.000150,-0.000288,0.000041,0.000344,0.000565,0.000258,0.000325,0.000373
160563,-0.000605,-0.001135,0.000741,-0.001653,-0.000741,0.000032,0.004444,-0.001443,-0.000240,0.001675,...,0.000478,-0.002152,0.000262,0.001750,0.000310,0.001845,0.002799,0.000975,-0.000324,-0.001614
160565,-0.000575,-0.000125,0.001276,-0.000598,-0.001561,-0.001395,-0.000700,-0.002199,0.002446,0.000904,...,-0.000091,-0.000391,-0.000364,-0.000678,-0.000093,-0.000224,0.000065,-0.000383,-0.000045,0.000612
160567,-0.001150,-0.000250,0.002553,-0.001197,-0.003121,-0.002790,-0.001400,-0.004399,0.004893,0.001808,...,-0.000183,-0.000782,-0.000729,-0.001357,-0.000185,-0.000448,0.000130,-0.000765,-0.000089,0.001223
160590,-0.000750,-0.001174,0.002283,0.000510,-0.000675,-0.000412,0.001873,0.002600,0.003547,0.004101,...,-0.001601,-0.001679,-0.001243,0.000580,0.000263,0.002796,0.001944,0.000521,0.001036,-0.001473
160656,-0.001154,0.002761,0.006519,0.001161,-0.012108,0.004873,0.002003,-0.000157,-0.004031,-0.016670,...,-0.000381,-0.000211,0.000215,-0.000065,-0.000240,0.000046,0.000045,-0.000114,0.000447,-0.000083
160718,-0.001319,0.003155,0.007451,0.001326,-0.013838,0.005570,0.002289,-0.000179,-0.004607,-0.019051,...,-0.000436,-0.000241,0.000246,-0.000074,-0.000275,0.000052,0.000051,-0.000130,0.000510,-0.000095
161084,-0.000824,0.001972,0.004657,0.000829,-0.008649,0.003481,0.001431,-0.000112,-0.002880,-0.011907,...,-0.000272,-0.000151,0.000154,-0.000046,-0.000172,0.000033,0.000032,-0.000081,0.000319,-0.000060
161155,-0.000144,-0.000031,0.000319,-0.000150,-0.000390,-0.000349,-0.000175,-0.000550,0.000612,0.000226,...,-0.000023,-0.000098,-0.000091,-0.000170,-0.000023,-0.000056,0.000016,-0.000096,-0.000011,0.000153
161594,-0.000959,-0.001775,0.001398,-0.003925,-0.002958,-0.005261,-0.000488,-0.001754,0.007018,0.002926,...,-0.000616,-0.000134,-0.000205,0.000050,0.000312,-0.000478,0.000799,-0.000566,-0.001024,0.000656
161830,-0.000262,-0.000250,0.000288,-0.001611,-0.000775,-0.000400,0.000727,-0.001855,0.001858,0.000856,...,0.000187,0.000250,-0.000100,-0.000192,0.000028,0.000229,0.000376,0.000172,0.000216,0.000248
161918,-0.000393,-0.000375,0.000432,-0.002416,-0.001162,-0.000600,0.001090,-0.002782,0.002787,0.001284,...,0.000280,0.000376,-0.000150,-0.000288,0.000041,0.000344,0.000565,0.000258,0.000325,0.000373
161944,-0.000396,-0.001341,0.000128,-0.001692,0.000049,0.000911,0.005992,-0.000429,-0.001828,0.001529,...,0.000655,-0.002445,0.000556,0.002611,0.000445,0.002446,0.003459,0.001458,-0.000377,-0.002400
162376,-0.001439,-0.002663,0.002097,-0.005887,-0.004437,-0.007891,-0.000732,-0.002631,0.010527,0.004389,...,-0.000925,-0.000201,-0.000308,0.000075,0.000468,-0.000718,0.001198,-0.000849,-0.001536,0.000984
162542,-0.000061,-0.000255,-0.000062,0.000033,-0.000019,0.000405,0.000308,0.000095,-0.000813,-0.000118,...,0.005352,0.003880,0.004733,0.011098,-0.001866,0.012051,0.006190,-0.002260,-0.005602,-0.005833
162672,-0.000037,-0.000153,-0.000037,0.000020,-0.000012,0.000243,0.000185,0.000057,-0.000488,-0.000071,...,0.003211,0.002328,0.002840,0.006659,-0.001119,0.007231,0.003714,-0.001356,-0.003361,-0.003500
163949,-0.001649,0.003944,0.009313,0.001658,-0.017297,0.006962,0.002861,-0.000224,-0.005759,-0.023814,...,-0.000545,-0.000301,0.000307,-0.000093,-0.000344,0.000065,0.000064,-0.000163,0.000638,-0.000119

In [3]:
closest_users = nlargest(10, heap)

In [4]:
[_[1] for _ in closest_users]

[1, 207, 182, 214, 565, 526, 665, 270, 572, 612]

### Getting Movies Based on Closest Users

In [5]:
user_id = 1
user_seen_movies_df = ratings_df.groupby('userId').get_group(user_id)[['movieId']][0:10]
user_seen_movies = user_seen_movies_df['movieId']

In [6]:
[x for x in user_seen_movies]

[31, 1029, 1061, 1129, 1172, 1263, 1287, 1293, 1339, 1343]

In [29]:
for m in user_seen_movies:
    print(m)

31
1029
1061
1129
1172
1263
1287
1293
1339
1343

0                                Toy Story
1                                  Jumanji
2                         Grumpier Old Men
3                        Waiting to Exhale
4              Father of the Bride Part II
5                                     Heat
6                                  Sabrina
7                             Tom and Huck
8                             Sudden Death
9                                GoldenEye
10                  The American President
11             Dracula: Dead and Loving It
12                                   Balto
13                                   Nixon
14                        Cutthroat Island
15                                  Casino
16                   Sense and Sensibility
17                              Four Rooms
18          Ace Ventura: When Nature Calls
19                             Money Train
20                              Get Shorty
21                                 Copycat
22                               Assassins
23                                  Powder
24                       Leaving Las Vegas
25                                 Othello
26                            Now and Then
27                              Persuasion
28              La Cité des Enfants Perdus
29                               摇啊摇，摇到外婆桥
                       ...
45436                      The Final Storm
45437                       In a Heartbeat
45438               Bloed, Zweet en Tranen
45439                         Jungle Woman
45440                    To Be Fat Like Me
45441                          Cadet Kelly
45442                 Le tripot clandestin
45443      L'Homme à la tête de caoutchouc
45444                  Les cartes vivantes
45445             Les affiches en goguette
45446              Le locataire diabolique
45447                 Le Roi du maquillage
45448    Les Transmutations imperceptibles
45449     Pooh's Heffalump Halloween Movie
45450                    L'Homme orchestre
45451       Nouvelles luttes extravagantes
45452                          Deep Hearts
45453                                  Maa
45454                    The Morning After
45455           San Michele aveva un gallo
45456                     House of Horrors
45457            Shadow of the Blair Witch
45458                  The Burkittsville 7
45459                      Caged Heat 3000
45460                           Robin Hood
45461                              رگ خواب
45462                  Siglo ng Pagluluwal
45463                             Betrayal
45464                  Satana likuyushchiy
45465                             Queerama
Name: original_title, Length: 45466, dtype: object

In [9]:
movies_df[movies_df['movieId'] == 273]['original_title']

2077    Das weisse Rauschen
2078    Das weisse Rauschen
2079    Das weisse Rauschen
2080    Das weisse Rauschen
2081    Das weisse Rauschen
2082    Das weisse Rauschen
2083    Das weisse Rauschen
2084    Das weisse Rauschen
2085    Das weisse Rauschen
2086    Das weisse Rauschen
2087    Das weisse Rauschen
2088    Das weisse Rauschen
2089    Das weisse Rauschen
2090    Das weisse Rauschen
2091    Das weisse Rauschen
2092    Das weisse Rauschen
2093    Das weisse Rauschen
2094    Das weisse Rauschen
2095    Das weisse Rauschen
2096    Das weisse Rauschen
2097    Das weisse Rauschen
2098    Das weisse Rauschen
2099    Das weisse Rauschen
2100    Das weisse Rauschen
2101    Das weisse Rauschen
2102    Das weisse Rauschen
2103    Das weisse Rauschen
Name: original_title, dtype: object

In [30]:
for mov_id in user_seen_movies:
    try:
        print(set(movies_df[movies_df['movieId'] == mov_id]['original_title']).pop())
    except:
        print('empty')

empty
empty
empty
empty
empty
empty
empty
empty
empty
empty

In [36]:
set(movies_df[movies_df['movieId'] == 273]['original_title']).pop() #273

'Das weisse Rauschen'

In [59]:
movies_df[movies_df['movieId'] == 162376]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp, original_title, id]
Index: []

In [62]:
movies[movies.id == 273]

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]